MYSQL_ROOT_PASSWORD=rootpass123
PRODUCTS_DB=products_db
PRODUCTS_DB_USER=products_user
PRODUCTS_DB_PASSWORD=products_pass123
ORDERS_DB=orders_db
ORDERS_DB_USER=orders_user
ORDERS_DB_PASSWORD=orders_pass123
JWT_SECRET=change-me-in-real-env
RABBITMQ_DEFAULT_USER=shopmicro
RABBITMQ_DEFAULT_PASS=shopmicro-pass
REDIS_TTL=60
PRODUCT_SERVICE_REPLICAS=2
ORDER_SERVICE_REPLICAS=2
USER_SERVICE_REPLICAS=2
NOTIFICATION_SERVICE_REPLICAS=1

